VITE_API_URL=https://carbonflow-h9cj.onrender.com/api
VITE_ADMIN_API_BASE_URL=https://carbonflow-h9cj.onrender.com/api
VITE_ADMIN_URL=https://carbonflow-admin.vercel.app
VITE_FRONTEND_URL=https://carbonflow-nu.vercel.app
